@charset "UTF-8";
/*Обнуление!*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
}z
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.table{
  margin: 50px auto 0;
  padding: 0 0 50px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  
  width: 800px; 
}
.table__line{
  display: flex;
  border-collapse: collapse;
  
}
.table__line_header{
  background-color: #e5e5e5;
}

.icon{
    margin-left: 10px;
}
.table__cell{
  
  width: 25%;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 
  0.7px 0 0 0 #666, 
  0 0.7px 0 0 #666, 
  0.7px 0.7px 0 0 #666,  
  0.7px 0 0 0 #666 inset, 
  0 0.7px 0 0 #666 inset;
  
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.search {
    display: inline-block;
    position: relative;
    width: 200px;
}
.search__text{
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    background: #e5e5e5;
    padding: 8px;
    border: none;
    outline: none;
}
